<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Gamza Community" />
    <meta name="author" content="Gamza Girl" />
    <title>감자조아</title>
    <link rel="icon" type="image/x-icon" href="/assets/potato_icon.png" />

    <!-- CSS include-->
    <link href="/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <section id="about" style="padding-top: 6rem; padding-bottom: 6rem;">
            <div class="container px-4">
                <div class="row gx-4">
                    <h1 class="mb-5">개인정보처리방침</h1>
                    <p>
                        감자조아 ('https://gamza-zoa.com' 이하 '커뮤니티')는 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.<br><br>
                        이 개인정보처리방침은 2024년 5월 18일 부터 적용됩니다.
                    </p>
                    <h5>1. 개인정보의 수집 및 이용목적</h5>
                    <p>
                        커뮤니티는 개인정보를 다음의 목적을 위해 수집·이용합니다. 수집한 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 예정입니다.<br/>
                        1. 홈페이지 회원가입 및 관리<br/>
                        회원 가입의사 확인, 회원자격 유지•관리, 서비스 부정이용 방지, 각종 고지•통지, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 수집·이용합니다.<br/>
                        2. 민원사무 처리<br/>
                        민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 수집·이용합니다.<br/>
                        3. 재화 또는 서비스 제공<br/>
                        서비스 제공, 콘텐츠 제공 등을 목적으로 개인정보를 수집·이용합니다.<br/>
                    </p>
                    <h5>2. 처리하는 개인정보의 항목과 보유기간</h5>
                    <p>커뮤니티는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.<br>
                        각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
                    <table class="mb-4">
                        <thead>
                        <tr>
                            <th>이용목적</th>
                            <th>수집항목</th>
                            <th>수집일시 및 방법</th>
                            <th>보유기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>홈페이지 회원가입 및 관리</th>
                            <th>이메일, 생년월일, 비밀번호, 닉네임</th>
                            <th>회원가입 시</th>
                            <th>회원 탈퇴 시까지</th>
                        </tr>
                        <tr>
                            <th>로그인 유지</th>
                            <th>쿠키</th>
                            <th>자동로그인 시</th>
                            <th>로그아웃 전까지</th>
                        </tr>
                        <tr>
                            <th>민원사무 처리</th>
                            <th>성함, 이메일주소</th>
                            <th>민원 등록 시</th>
                            <th>1년</th>
                        </tr>
                        <tr>
                            <th>서비스 이용 기록</th>
                            <th>IP 주소</th>
                            <th>서비스 이용 시</th>
                            <th>3개월</th>
                        </tr>
                        </tbody>
                    </table>
                    <h5>3. 개인정보처리의 위탁에 관한 사항</h5>
                    <p>
                        회사는 회원에게 보다 나은 서비스의 제공을 위하여 다음과 같이 개인정보의 처리업무를 위탁하고 있습니다. 회사는 개인정보 처리업무의 위탁을 받은 수탁자가 개인정보보호법 등 현행 개인정보보호 관계 법령을 위반하지 않도록 관리/감독을 하고 있습니다.
                        <br/><br/>
                        서버 등 관련<br/>
                        수탁업체: Amazon Web Services, Inc.<br/>
                        위탁업무 내용 : 데이터보관 및 서비스 운영<br/>
                        개인정보의 보유 및 이용기간 : 회원의 탈퇴시 또는 위탁 계약 종료시까지<br/>
                        ※ 회사는 Amazon Web Services, Inc.의 대한민국 내 서버를 이용하고 있으므로, 위탁된 개인정보는 국외로 이전되지 않습니다.<br/>
                    </p>
                    <h5>4. 개인정보의 보유 및 이용기간</h5>
                    <p>
                        커뮤니티는 회원가입일로부터 회원탈퇴와 같은 개인정보 수집, 이용, 제공에 대한 동의 철회 시까지 회원의 개인정보를 보유 및 이용하게 됩니다. <br/>
                        단, 다음의 정보에 대해서는 내부 방침 및 관계법령에 따라 명시한 기간 동안 보관 후 파기합니다.<br/>
                        1) 불법적 사용자에 대한 관련 기관 수사 협조 및 부정이용 관련하여 최대 3개월간 보관 후 파기합니다.<br/>
                        - 아이디(e-mail), IP주소<br/>
                        - 서비스를 불법적/부정한 형태로 이용한 기록<br/>
                        2) 관계법령의 규정에 의하여 보관할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관 후 파기합니다.<br/>
                        ① 계약 또는 청약철회 등에 관한 기록: 5년<br/>
                        ② 대금결제 및 재화 등의 공급에 관한 기록: 5년<br/>
                        ③ 소비자의 불만 또는 분쟁처리에 관한 기록: 3년<br/>
                        ④ 부정이용 등에 관한 기록: 5년<br/>
                        ⑤ 웹사이트 방문기록(로그인 기록, 접속기록): 3개월<br/>
                    </p>
                    <h5>5. 개인정보 파기절차 및 파기방법</h5>
                    <p>
                        개인정보 파기절차 및 방법은 다음과 같습니다.<br/>
                        1. 파기절차<br/>
                        커뮤니티가 보유한 회원의 개인정보는 그 처리목적 달성 후 또는 보유기간 경과 후 별도의 데이터베이스에 옮겨져 본 개인정보처리방침 또는 관련 법령에 따라 일정 기간 저장(물리적 형태로 저장된 개인정보는 별도의 공간으로 옮겨서 보관)된 후 또는 즉시 파기 됩니다. 이 때 별도 데이터베이스 또는 별도 공간으로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br/>
                        2. 파기방법<br/>
                        - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br/>
                    </p>
                    <h5>6. 개인정보 자동 수집 장치의 설치, 운영 및 거부에 관한 사항</h5>
                    <p>
                        1) 쿠키란<br/>
                        - 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 작은 텍스트 파일로 이용자의 하드디스크에 저장됩니다.<br/>
                        2) 쿠키의 사용 목적<br/>
                        - "사이트"가 쿠키를 통해 수집하는 정보는 '2. 수집하는 개인정보 항목 및 수집방법'과 같으며 '1. 개인정보의 수집 및 이용목적'외의 용도로는 이용되지 않습니다.<br/>
                        3) 쿠키 설치, 운영 및 거부<br/>
                        - 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br/>
                        - 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)은 다음과 같습니다. 예) 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 > 고급 > 쿠키 허용 정보 변경<br/>
                        - 단, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.<br/>
                    </p>
                    <h5>7. 개인정보의 안전성 확보조치</h5>
                    <p>
                        커뮤니티는 개인정보보호법 제29조에 따라 다음과 같이 안정성 확보에 필요한 기술적 조치를 시행하고 있습니다.
                        <br/><br/>
                        1. 개인정보처리시스템 등에 대한 접근 권한의 제한, 통제, 관리와<br/>
                        2. 개인정보를 안전하게 저장 및 전송할 수 있는 암호화 기술의 적용,<br/>
                        3. 개인정보를 안전하게 저장·전송할 수 있는 암호화 기술의 적용
                    </p>
                    <h5>8. 이용자의 권리</h5>
                    <p>
                        이용자의 개인정보는 언제든지 홈페이지의 “개인정보 수정”을 통하여 열람하거나 정정할 수 있으며, 회원탈퇴를 통해 개인정보를 삭제할 수 있습니다.<br/>
                        1) 개인정보 열람 및 정정은 로그인 하신 후 페이지 상단 내 정보 (닉네임) 클릭 > 계정 관리  메뉴에서 할 수 있습니다.<br/>
                        2) 회원 탈퇴(ID삭제)는 개인회원으로 로그인 하신 후 페이지 상단 내 정보 (닉네임) 클릭 > 계정 관리 메뉴를 통해 탈퇴할 수 있습니다.
                    </p>
                    <h5>8. 개인정보의 처리위탁</h5>
                    <p>
                        커뮤니티는 서비스 제공을 위해서 아래와 같이 개인정보 처리업무를 외부 업체에 위탁하고 있지 않습니다.
                    </p>
                    <h5>9. 개인정보 관리책임자 및 민원서비스</h5>
                    <p>
                        이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 커뮤니티는 개인정보보호 책임자를 두고 있습니다. 이용자의 개인정보와 관련한 문의사항이 있으시면 아래의 개인정보보호 책임자 또는 개인정보보호 담당자에게 연락 바랍니다.
                        <br/><br/>
                        개인정보보호 책임자<br/>
                        성명: 임주혜<br/>
                        이메일주소: potato@gamza-zoa.com<br/>
                        <br/>
                        개인정보보호 담당자<br/>
                        성명: 임주혜<br/>
                        이메일주소: potato@gamza-zoa.com<br/>
                        <br/>
                        또한 개인정보에 관한 상담이 필요한 경우에는 아래 기관에 문의하셔서 도움을 받으실 수 있습니다.<br/>
                        <br/>
                        개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)<br/>
                        개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)<br/>
                        대검찰청 : (국번없이) 1301 (www.spo.go.kr)<br/>
                        경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)
                    </p>
                    <h5>10. 부칙</h5>
                    <p>
                        이 개인정보처리방침은 2024년 05월 18일부터 적용되며, 본 개인정보처리방침의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일전에 회사 서비스 내의 공지사항을 통하여 고지할 것 입니다. 다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 공지하며, 이 때 변경 내용에 대해 동의하지 않는 회원에 대해 회원 탈퇴를 할 수 있는 안내를 포함합니다.
                        <br/><br/>
                        - 개인정보처리방침 공고일자 : 2024년 05월 18일
                        - 개인정보처리방침 시행일자 : 2024년 05월 18일
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>