<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{login/head.html :: head}"></head>
<script src="/js/find_pwd.js"></script>

<body>
    <th:block th:replace="~{font/font_links.html :: font}"></th:block>
    <!-- Top navigation-->
    <th:block th:replace="~{intro/navbar.html :: navbar}"></th:block>

    <div id="page-content" class="container">
        <th:block th:replace="~{intro/modal.html :: feedback-modal}"></th:block>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">비밀번호 재설정</h1>
                                    <p class="mb-4 text-black-50">가입하신 이메일을 입력하시면 새로운 비밀번호를 보내드립니다.</p>
                                </div>
                                <form class="user_password">
                                    <div class="form-group">
                                        <input name="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="이메일 주소">
                                    </div>
                                    <div id ="updatePwdBtn">
                                        <a id="resetPwdBtn" href="#" onclick="issuePassword();" class="btn btn-primary btn-user btn-block disabled">
                                            비밀번호 재설정하기
                                        </a>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/community/login">로그인으로 돌아가기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
