<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{font/font_links.html :: font}"></th:block>
<head th:replace="~{community/header.html :: header}"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/profile.js"></script>
<script src="/js/account.js"></script>
<script src="/js/profileForm.js"></script>
<body id="page-top">
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div th:replace="~{community/sidebar.html :: sidebar}"></div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <th:block th:replace="~{community/topbar.html :: topbar}"></th:block>
        <input type="hidden" id="userId" th:value="${userInfo.userId}">
        <!-- Page content-->
        <div class="container-fluid">
            <div class="container my-3">
                <div class="row mt-5">
                    <div class="col-lg-3 text-center">
                        <th:block th:replace="~{profile/content.html :: profileTab}"></th:block>
                    </div>
                    <div class="col-lg-9 py-2">
                        <!-- 프로필 form tab -->
                        <th:block th:replace="~{profile/content.html :: profileFormContent}"></th:block>
                        <!-- 계정관리 tab -->
                        <th:block th:replace="~{profile/account.html :: accountContent}"></th:block>
                        <!-- 커뮤니티 활동 tab -->
                        <th:block th:replace="~{profile/content.html :: communityContent}"></th:block>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{community/footer.html :: jdenticon}"></th:block>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="application/javascript" src="/js/cropper.js"></script>
    </div>
</div>
</body>
</html>