<div style="width:100%;background-color:#fff;text-align:center">
    <div style="display:inline-block">
        <div style="margin:auto;margin-top:40px;width:560px;text-align:center">
            <div>
                <div style="font-size:36px;font-weight:500;color:#000">
                    <b>감자조아</b> 이메일 인증
                </div>
                <div style="margin-top:40px;font-size:16px;">
                    <div style="border-radius:0.125rem;background-color:#E2E2E2;padding:20px">
                        <p style="margin:0;text-align:center;font-size:18px;color:#758592">임시 비밀번호</p>
                        <p style="margin:0;margin-top:3px;text-align:center;font-size:22px;letter-spacing:0.1em;color:#000">
                            [[password]]
                        </p>
                    </div>
                </div>

                <div style="margin-top:40px;font-size:16px;color:#3c4750">
                    <div>이 메일은 임시 비밀번호 재발급 요청에 의해 발송되었습니다.</div>
                    <div style="margin-top:20px">
                        비밀번호 설정을 하시려면 위 임시 번호로 로그인 후 <b>내정보 > 계정관리</b> 에서 새롭게 설정해주세요.
                    </div>
                </div>
            </div>
        </div>

        <div style="margin:auto;margin-top:40px;width:560px">
            <div style="height:1px;background-color:#d9d9d9"></div>
        </div>

        <div style="margin:auto;margin-top:40px;width:560px;text-align:center;font-size:14px;font-weight:500;color:#3c4750">
            본 메일은 발신전용입니다.<br>궁금하신 점이나 불편한 사항은 고객센터로 문의해 주시기 바랍니다.<br><br>
            Copyright © gamza-zoa.com All Rights Reserved.
        </div>
    </div>
</div>